@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force full height across all browsers */
html {
  height: 100%;
  height: -webkit-fill-available;
}

body {
  height: 100%;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

#root {
  height: 100%;
  height: -webkit-fill-available;
  overflow: hidden;
}